<div>
  <button id="popup-btn">X</button>
  <img src="<%= data.image%>" class="popup-img" />
  <h3><%= data.name%></h3>
  <p>Price: Rs. <%= data.price%></p>
  <p>Available Quantity: <%= data.quantity %></p>
  <p><%= data.description%></p>
</div>
